<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="./index.css" />
  </head>
  <body>
    <div id="app"></div>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/socket.io-client/dist/socket.io.slim.js"></script>
    <script src="https://unpkg.com/compromise"></script>
    <script src="https://unpkg.com/rule-parser"></script>
    <script src="./names.js"></script>
    <script>
      // const parser = new index.Parser();
      // const expr = 'city = "cupertino"';
      // const p = parser.parse(expr, { city: 'cupertino', date: new Date() }); // return false;

      const shuffle = arr => arr.sort(() => Math.random() - 0.5);
      const any = function(arr) {
        return arr instanceof Array
          ? shuffle(arr)[0]
          : shuffle(Array.from(arguments))[0];
      };

      new Vue({
        el: "#app",
        data: {
          socket: io.connect("https://eka-server.now.sh"),
          messages: [],
          newMessage: "",
          model: null,
          trainingMessages: [],
          model: "",
          state: {},
          rules: [
            {
              check: 'message = "hi" and greeted <> "1"',
              message: "Hi!",
              state: "greeted = 1"
            },
            {
              check: 'message = "hi" and greeted = "1"',
              message: "Hi again",
              state: ""
            },
            {
              check: 'message = "bye"',
              message: "Ciaobella",
              state: "greeted = 0"
            },
            { check: "", message: "", state: "" }
          ],
          userName: any(animals),
          botName: any(pokemons),
          userImage:
            "https://pbs.twimg.com/profile_images/1017033035450109953/s6tpyPoa.jpg",
          botImage:
            "http://chittagongit.com//images/robot-flat-icon/robot-flat-icon-29.jpg"
        },
        mounted() {
          this.socket.on("message", async d => {
            // const data = nlp(d.message).topics().data()
            // console.log(data)

            let label = "";

            if (this.model) {
              label = (await this.classify(d.message)).data;
            }
            this.messages.push({ ...d, label });

            this.trainingMessages.push({...d, label, message: d.message.toLowerCase() });

            const reply = this.checkRules({ ...d, label });
            if (reply && !d.bot) {
              this.socket.emit("message", {
                message: reply,
                sender: this.botName,
                image: this.botImage,
                bot: true
              });
            }
          });

          const observer = new MutationObserver(
            () =>
              (this.$refs.messages.scrollTop = this.$refs.messages.scrollHeight)
          );
          observer.observe(this.$refs.messages, { childList: true });
        },
        methods: {
          checkRules(m) {
            const parser = new index.Parser();
            const rules = this.rules.filter(r => r.check)
            for (let i = 0; i < rules.length; i++) {
              if (
                parser.parse(rules[i].check, {
                  ...this.state,
                  message: m.message.trim(),
                  label: m.label
                })
              ) {
                const s = rules[i].state.split("=").map(s => s.trim());
                if (s.length == 2) {
                  Vue.set(this.state, s[0], s[1])
                }
                return rules[i].message
              }
            }
          },
          handleSend() {
            this.socket.emit("message", {
              message: this.newMessage,
              sender: this.userName,
              image: this.userImage
            });
            this.newMessage = "";
          },
          handleTraining() {
            if (this.trainingMessages.length) {
              const train = this.trainingMessages.map(m => [
                m.message,
                m.label
              ]);
              axios
                .post(
                  "https://eka-classifier.now.sh/train?_now_no_cache=1",
                  train
                )
                .then(res => (this.model = JSON.stringify(res.data)))
                .catch(e => console.log(e));
            }
          },
          async classify(message) {
            const classify = [message, JSON.parse(this.model)];
            return axios
              .post(
                `https://eka-classifier.now.sh/classify?_now_no_cache=1`,
                classify
              )
              .catch(e => console.log(e));
          },
          isMobile() {
            return (
              typeof window.orientation !== "undefined" ||
              navigator.userAgent.indexOf("IEMobile") !== -1
            );
          }
        },
        template: `
        <div class="container">
          <div class="feed">
          <div ref="messages" class="messages">
            <div
              v-for="(m,i) in messages"
              :key="i"
              class="message"
            >
              <div :style="{
                backgroundImage: 'url(' + m.image + ')',
              }"
              class="avatar"
              />
              <div>
                <div class="name">{{ m.sender }} | {{ m.label }} </div>
                <div class="bubble">{{ m.message }}</div>
              </div>
            </div>
          </div>
          <div class="compose">
            <input class="input" v-model="newMessage" @keyup.enter="handleSend" />
            <button @click="handleSend">Send</button>
          </div>
          </div>
          <div class="tools">
            <p>CONVERSATION</p>
            <p>State</p>
            {{ state }}
            <p>Rules</p>
            <tr v-for="r in rules">
              <td style="width: 50%"><input style="width: 100%" v-model="r.check" placeholder="condition" /></td>
              <td style="width: 30%"><input style="width: 100%" v-model="r.message" placeholder="message" /></td>
              <td style="width: 30%"><input style="width: 100%" v-model="r.state" placeholder="state" /></td>
            </tr>
            
            <p>CLASSIFIER</p>
            <p>Classifier model</p>
            <textarea v-model="model" rows="5" placeholder="Model will be here" />   <br>
            <p><button @click="handleTraining">Train classifier model</button></p>
            
            <br>
            <table>
            <tr v-for="m in trainingMessages">
              <td>{{ m.message }}</td><td><input v-model="m.label" placeholder="Add label" /></td>
            </tr>
            </table>

            <br>
            <p>CONFIG</p>
            <p>User</p>
            <input v-model="userName" style="width: 100%" />
            <input v-model="userImage" style="width: 100%" />
            <p>Bot</p>
            <input v-model="botName" style="width: 100%" />
            <input v-model="botImage" style="width: 100%" />
          </div>
        </div>
      `
      });
    </script>
  </body>
</html>
